<button
  [matBadge]="totalItems"
  class="cart__icon"
  mat-icon-button
  [matMenuTriggerFor]="menu"
>
  <i class="fas fa-shopping-cart"></i>
</button>

<mat-menu #menu="matMenu">
  <div (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
    <div class="cart" (click)="$event.stopPropagation()">
      <div *ngIf="hasItems" class="cart__content">
        <div
          *ngFor="let item of items$ | async"
          class="cart__item"
          [@row]="itemState"
        >
          <img [src]="item.comic.imagePath" alt="" class="cart__item__image" />

          <div class="cart__group">
            <div>
              <span class="cart__item__text">{{ item.comic.title }}</span>
            </div>
            <div>
              <i
                (click)="quantityDown(item)"
                class="fas fa-minus cart__item__quantity-icon"
              >
              </i>
              <span class="cart__item__quantity">( {{ item.quantity }}x )</span>
              <i
                (click)="quantityUp(item)"
                class="fas fa-plus cart__item__quantity-icon"
              ></i>
            </div>
          </div>
          <div class="cart__group">
            <span class="cart__item__value">
              R$ {{ item.getTotalValue() | number: "2.2" }}</span
            >
            <i
              (click)="removeItem(item)"
              class="fas fa-trash-alt cart__item__icon"
            ></i>
          </div>
        </div>
        <div class="cart__total">
          <span class="cart__total__text">Total</span>
          <span class="cart__total__value"
            >R$ {{ getTotal() | number: "2.2" }}</span
          >
        </div>
      </div>
      <p class="cart__empty-message" *ngIf="!hasItems">
        Seu carrinho está vazio!
      </p>
      <div *ngIf="hasItems" class="cart__buttons">
        <button
          (click)="clearCart()"
          type="button"
          class="cart__buttons__button"
        >
          <i class="fa fa-trash"></i> Limpar
        </button>
        <a class="cart__buttons__button" [routerLink]="['/order']">
          <i class="fa fa-credit-card"></i>
          Finalizar Compra
        </a>
      </div>
    </div>
  </div>
</mat-menu>
