@import "../../../sass/variables";
@import "../../../sass/mixins";
@import "../../../sass/functions";

.about {
  &__title {
    color: $color-panel-text;
  }

  &__text {
    margin-top: 20px;
    color: $color-panel-text;
  }

  &__link {
    color: $color-link;
  }
}
