<header class="header">
  <nav class="menu">
    <ul class="menu__list">
      <li class="list__item">
        <a class="list__item__link" routerLink="/"><strong>Meat</strong></a>
      </li>
      <li class="list__item" routerLinkActive="list__item--active">
        <a class="list__item__link" routerLink="/restaurants">Restaurants</a>
      </li>
      <li class="list__item" routerLinkActive="list__item--active">
        <a class="list__item__link" routerLink="/about">About</a>
      </li>
    </ul>
  </nav>
  <cms-toggle-theme></cms-toggle-theme>
</header>
