@import "../../../sass/variables";
@import "../../../sass/mixins";
@import "../../../sass/functions";
@import "../../../sass/media";

:host {
  background: var(--color-primary);
  height: 50px;
  position: absolute;

  width: 100%;
}

.header {
  background-color: $color-primary;
  height: 50px;
  @include flex-center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $global-max-width;
  padding: rem(0 40);
  width: 100%;

  @include medias($tiny-mobile, $mobile, $small-tablet, $tablet) {
    padding: rem(0 10);
  }

  &__tools {
    height: 100%;
    @include flex-center;
    color: $color-text;
  }

  &__cart {
    margin-right: rem(20);
  }
}

.menu {
  display: flex;
  height: 100%;

  .menu-list {
    @include flex-center;
    border: 0;
    height: 100%;
    color: white;

    .menu-list__item + .menu-list__item {
      margin-left: rem(20);
    }

    &__item {
      @include flex-center;
      height: 100%;
      transition: background-color 0.2s;
      cursor: pointer;
    }

    &__item--active .menu-list__link,
    &__item:hover .menu-list__link {
      color: rgb(0, 247, 255);
    }

    &__link {
      font-size: 14px;
      transition: color 0.2s;
      color: white;

      strong {
        font-size: 18px;
      }
    }

    .list__item + .list__item {
      margin-left: rem(25);
    }
  }
}

.logo {
  @include medias($tiny-mobile, $mobile) {
    display: none !important;
  }
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  // min-width: rem(320);
  // width: rem(200);

  padding: rem(20);
  margin-left: 10px;
  border-radius: $global-radius;
  background-color: $color-panel-bg;

  &__empty-message {
    margin-top: rem(20);
    align-self: center;
    color: $color-text;
    font-size: rem(13);
  }

  &__title {
    color: $color-text;

    i {
      margin-right: rem(5);
    }
  }

  &__content {
    margin-top: rem(20);
    width: 100%;

    .cart__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      div {
        @include flex-center;
      }

      &__quantity-icon {
        font-size: rem(10);
        margin-right: rem(5);
        cursor: pointer;
        color: $color-text;
      }

      &__quantity-icon:last-of-type {
        margin-right: rem(10);
      }

      &__text,
      &__quantity {
        font-size: rem(12);
        color: $color-text;
      }
      &__value {
        font-size: rem(13);
      }

      &__quantity {
        margin-right: rem(5);
      }

      &__text {
        @include base-bold;
        // text-transform: lowercase;
      }

      &__text:first-letter {
        text-transform: uppercase;
      }

      &__text::after {
        content: ":";
        @include base-bold;
      }

      &__value {
        color: $color-text;
        margin-right: rem(5);
      }

      &__icon {
        color: $color-danger;
        cursor: pointer;
      }
    }

    .cart__item:not(:last-child) {
      padding: rem(10 0);
      border: solid 1px $color-tab-panel-border-top;
      border-width: 1px 0 1px 0px;
    }

    .cart__item:last-child {
      margin-top: rem(20);
    }

    .cart__total {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      margin-top: rem(20);

      &__text,
      &__value {
        font-size: rem(13);
      }

      &__text {
        @include base-bold;
      }

      &__text::after {
        content: ":";
        @include base-bold;
      }

      &__value {
        color: $color-text;
        margin-right: rem(14.5);
        font-weight: bold;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: rem(20);

    &__button {
      font-size: rem(13);
      @include flex-center;
      width: 100%;
      padding: rem(8 10);
      border-radius: rem(5);
      color: white;
      @include button-pressed;

      &__link {
        color: white;
      }

      i {
        margin-right: rem(5);
      }
    }

    &__button:first-child {
      background-color: $color-danger;
      margin-right: rem(5);
    }

    &__button:last-child {
      background-color: $color-success;
    }
  }
}

button {
  .mat-menu-trigger {
    position: absolute;
    top: 0;
    left: 0;
    width: rem(600);
  }
}
