@import "../../../sass/variables";
@import "../../../sass/mixins";
@import "../../../sass/functions";
@import "../../../sass/media";

:host {
  background: var(--color-primary);
  height: $header-size;
  position: absolute;

  width: 100%;
}

.header {
  background-color: $color-primary;
  height: $header-size;
  @include flex-center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $global-max-width;
  padding: rem(0 40);
  width: 100%;

  @include medias($tiny-mobile, $mobile, $small-tablet, $tablet) {
    padding: rem(0 10);
  }

  &__tools {
    height: 100%;
    @include flex-center;
    color: $color-text;

    .admin-side-icon {
      color: white;
      display: none;
      @include medias($tiny-mobile, $mobile) {
        display: block;
      }
    }
  }
}

.menu {
  display: flex;
  height: 100%;

  .menu-list {
    @include flex-center;
    border: 0;
    height: 100%;
    color: white;

    .menu-list__item + .menu-list__item {
      margin-left: rem(20);
    }

    &__item {
      @include flex-center;
      height: 100%;
      transition: background-color 0.2s;
      cursor: pointer;
      color: white;

      @include medias($tiny-mobile, $mobile) {
        display: none;
      }

      &--mobile {
        display: none;
        @include medias($tiny-mobile, $mobile) {
          display: block;
        }
      }
    }

    &__item--active .menu-list__link,
    &__item:hover .menu-list__link {
      color: #00f7ff;
    }

    &__link {
      font-size: rem(14);
      transition: color 0.2s;
      color: white;

      strong {
        font-size: rem(18);
      }
    }

    .list__item + .list__item {
      margin-left: rem(25);
    }
  }
}

.logo {
  @include medias($tiny-mobile, $mobile) {
    display: none !important;
  }
}

button {
  .mat-menu-trigger {
    position: absolute;
    top: 0;
    left: 0;
    width: rem(600);
  }
}

::ng-deep.mat-menu-panel {
  max-width: none !important;
}
