<header class="header">
  <nav class="menu">
    <ul class="menu-list">
      <li class="menu-list__item logo">
        <a class="menu-list__link" routerLink="/"><strong>Comics ++</strong></a>
      </li>
      <li class="menu-list__item" routerLinkActive="menu-list__item--active">
        <a class="menu-list__link" routerLink="/livros">Livros</a>
      </li>
      <li class="menu-list__item" routerLinkActive="menu-list__item--active">
        <a class="menu-list__link" routerLink="/sobre">Sobre</a>
      </li>
      <li class="menu-list__item" routerLinkActive="menu-list__item--active">
        <a class="menu-list__link" routerLink="/admin">Admin</a>
      </li>
    </ul>
  </nav>
  <div class="header__tools">
    <div class="header__cart">
      <i matBadge="1" class="fas fa-shopping-cart" style="font-size: 20px"></i>
    </div>
    <cms-toggle-theme></cms-toggle-theme>
  </div>
</header>
