@import "media";
@import "variables";
@import "mixins";
@import "functions";

:host {
  @include medias($tiny-mobile, $mobile) {
    @include flex-center(column);
  }
}

.panel {
  @include flex-center;
  justify-content: space-around;
  height: rem(400);
  margin: 0 auto;
  padding: rem(30);
  color: $color-panel-text;
  background-color: $color-panel-bg;
  border-radius: rem(10);

  @include tiny-mobile {
  }

  @include medias($tiny-mobile, $mobile) {
    flex-direction: column;
    margin: 0;
    height: auto;
    padding: rem(30 0);
  }

  &__title {
    font-size: rem(55);

    @include medias($tiny-mobile, $mobile) {
      font-size: rem(40);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    @include tiny-mobile {
      width: rem(300);
    }
  }

  &__subtitle {
    margin-top: rem(20);
    text-align: center;
    font-size: rem(25);
    width: rem(500);
    line-height: rem(25);

    @include tiny-mobile {
      width: 100%;
      font-size: rem(15);
    }

    @include mobile {
      width: rem(350);
      font-size: rem(19);
    }
  }

  &__button {
    margin-top: rem(50);
    font-size: rem(20);
    @include base-button-style;

    @include tiny-mobile {
      margin-top: rem(20);
    }
  }

  img {
    @include size(300);

    @include medias($tiny-mobile, $mobile) {
      margin-top: rem(20);
      @include size(200);
    }
  }
}
