@import "../../../sass/variables";
@import "../../../sass/mixins";
@import "../../../sass/functions";
@import "../../../sass/media";

.comic {
  background-color: $color-panel-bg;
  border-radius: 5px;
  position: relative;
  min-height: rem(140);
  width: rem(400);
  height: 100%;
  padding: rem(10 10 10 130);

  @include tiny-mobile {
    width: 100%;
  }

  @include mobile {
    width: 100%;
  }

  @include small-tablet {
    width: 100%;
  }

  @include tablet {
    width: rem(320);
  }

  @include large-tablet {
    width: rem(330);
  }

  &__image {
    @include size(100, 140);
    position: absolute;
    top: rem(-17);
    left: rem(10);
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 50px 80px rgba(0, 0, 0, 0.12);
  }

  &__inventory {
    position: absolute;

    top: rem(15);
    right: rem(28);

    font-size: rem(18);

    &--available {
      color: green;
      animation: is-pulsing 0.45s ease-in alternate infinite 1s;
    }

    &--unavailable {
      color: $color-danger;
      animation: is-pulsing 0.45s ease-in alternate infinite 1s;
    }
  }

  @keyframes is-pulsing {
    to {
      opacity: 0.35;
    }
  }

  &__price {
    position: absolute;
    left: rem(12);
    bottom: rem(20);
    font-size: rem(20);

    @include tiny-mobile {
      font-size: rem(20);
    }
  }

  &__title {
    font-size: rem(12);
  }

  &__genre {
    font-size: rem(12);
  }

  &__author {
    font-size: rem(12);
  }

  &__description {
    margin-top: rem(10);
    font-size: rem(12);
    text-align: left;
    width: 100%;
  }

  &__btn-container {
    display: flex;

    align-items: center;
    padding: rem(10 0);

    @include tiny-mobile {
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      height: 91px;
    }
  }

  &__btn {
    @include base-button-style;
    width: rem(90);
    height: rem(20);
    font-size: rem(12);

    @include tablet {
      width: rem(80);
    }

    @include small-tablet {
      width: rem(80);
    }
  }

  &__btn + &__btn {
    margin-left: rem(9);
  }
}

.truncate-overflow {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
