<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav
    #sidenav
    [mode]="isBiggerScreen() ? 'over' : 'side'"
    [(opened)]="opened"
    [fixedInViewport]="true"
    [fixedTopGap]
  >
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" [routerLink]="['comic']">
        <i>+</i> Quadrinhos
      </a>
      <a mat-list-item routerLinkActive="active" [routerLink]="['author']">
        <i>+</i> Autores
      </a>
      <a mat-list-item routerLinkActive="active" [routerLink]="['genre']">
        <i>+</i> Categorias
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
