<form [formGroup]="form" novalidate>
  <h2 mat-dialog-title>Quadrinho</h2>

  <mat-dialog-content>
    <div>
      <mat-form-field>
        <input matInput placeholder="Titulo" formControlName="title" />
      </mat-form-field>
      <mat-form-field>
        <input
          type="number"
          matInput
          placeholder="Preço"
          formControlName="price"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          type="number"
          matInput
          placeholder="Ano"
          formControlName="year"
        />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input
          type="number"
          matInput
          placeholder="Nº Páginas"
          formControlName="pages"
        />
      </mat-form-field>

      <cms-dropdown-list
        [isNew]="!comic?.comicID"
        [placeholder]="'Autores'"
        [getFilteredDataCallback]="getAuthorByNameCallback.bind(this)"
        [getInitialDataCallback]="getAuthorsByComicIDCallback.bind(this)"
        [dataControl]="form.controls.authors"
        idKeyObject="authorID"
        valueKeyObject="name"
      ></cms-dropdown-list>

      <cms-dropdown-list
        [isNew]="!comic?.comicID"
        [placeholder]="'Categorias'"
        [getFilteredDataCallback]="getGenresByNameCallback.bind(this)"
        [getInitialDataCallback]="getGenresByComicIDCallback.bind(this)"
        [dataControl]="form.controls.genres"
        idKeyObject="genreID"
        valueKeyObject="description"
      ></cms-dropdown-list>
    </div>

    <div style="width: 100%">
      <mat-form-field style="width: 100%">
        <textarea
          placeholder="Descrição"
          formControlName="description"
          matInput
          rows="7"
        ></textarea>
      </mat-form-field>
    </div>

    <mat-form-field>
      <ngx-mat-file-input
        formControlName="image"
        placeholder="Imagem"
        accept="image/png,image/jpg,image/gif,image/jpeg"
      ></ngx-mat-file-input>
      <mat-icon matSuffix>folder</mat-icon>
    </mat-form-field>

    <div class="preview-image-action">
      <p>Pre-Visualização:</p>
      <!-- <button
        (click)="loadComicImage(comic.comicID)"
        *ngIf="!!comic?.comicID"
        class="mat-raised-button mat-primary"
      >
        Carregar
      </button> -->
    </div>

    <div class="preview-image">
      <img [src]="imageDataUrl" *ngIf="imageDataUrl" />
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Fechar</button>
    <button
      [disabled]="form.invalid"
      [class.disabled]="form.invalid"
      class="mat-raised-button mat-primary"
      (click)="save()"
    >
      Salvar
    </button>
  </mat-dialog-actions>
</form>
