@import "media";
@import "variables";
@import "mixins";
@import "functions";

mat-dialog-actions {
  @include flex-center;
  justify-content: flex-end;

  button:first-of-type {
    margin-right: rem(10);
  }
}

mat-form-field,
cms-dropdown-list {
  margin-right: rem(10);

  @include medias($tiny-mobile, $mobile) {
    width: 100%;
  }
}

.preview-image {
  min-height: rem(146);
  img {
    @include size(100, 140);
  }
}

.preview-image-action {
  display: flex;
  align-items: center;
  margin-top: rem(10);

  p {
    margin: rem(0 5 0 0);
  }

  button {
    font-size: rem(12);
    height: rem(24);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.description {
  width: 100%;
  &__field {
    width: 100%;
  }
}
