<form [formGroup]="form" novalidate>
  <h2 mat-dialog-title>Quadrinho</h2>

  <mat-dialog-content>
    <div>
      <mat-form-field>
        <input matInput placeholder="Titulo" formControlName="title" />
        <mat-error>
          <span cmsShowValidation="title"></span>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          type="text"
          prefix="R$ "
          mask="separator.2"
          thousandSeparator="."
          decimalMarker=","
          matInput
          placeholder="Preço"
          formControlName="price"
        />
        <mat-error>
          <span cmsShowValidation="price"></span>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          type="text"
          mask="9999"
          matInput
          placeholder="Ano"
          formControlName="year"
        />
        <mat-error>
          <span cmsShowValidation="year"></span>
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input
          type="text"
          mask="9999"
          matInput
          placeholder="Nº Páginas"
          formControlName="pages"
        />
        <mat-error>
          <span cmsShowValidation="pages"></span>
        </mat-error>
      </mat-form-field>

      <cms-dropdown-list
        [isNew]="!comic?.comicID"
        [placeholder]="'Autores'"
        [getFilteredDataCallback]="getAuthorByNameCallback.bind(this)"
        [getInitialDataCallback]="getAuthorsByComicIDCallback.bind(this)"
        [dataControl]="form.controls.authors"
        idKeyObject="authorID"
        valueKeyObject="name"
      ></cms-dropdown-list>

      <cms-dropdown-list
        [isNew]="!comic?.comicID"
        [placeholder]="'Categorias'"
        [getFilteredDataCallback]="getGenresByNameCallback.bind(this)"
        [getInitialDataCallback]="getGenresByComicIDCallback.bind(this)"
        [dataControl]="form.controls.genres"
        idKeyObject="genreID"
        valueKeyObject="description"
      ></cms-dropdown-list>
    </div>

    <div class="description">
      <mat-form-field class="description__field">
        <textarea
          placeholder="Descrição"
          formControlName="description"
          matInput
          rows="7"
        ></textarea>
        <mat-error>
          <span cmsShowValidation="description"></span>
        </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field>
      <ngx-mat-file-input
        formControlName="image"
        placeholder="Imagem"
        accept="image/png,image/jpg,image/gif,image/jpeg"
      ></ngx-mat-file-input>
      <mat-icon matSuffix>folder</mat-icon>
      <mat-error>
        <span cmsShowValidation="image"></span>
      </mat-error>
    </mat-form-field>

    <div class="preview-image-action">
      <p>Pre-Visualização:</p>
    </div>

    <div class="preview-image">
      <img [src]="imageDataUrl" *ngIf="imageDataUrl" />
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Fechar</button>
    <button
      [disabled]="form.invalid"
      [class.disabled]="form.invalid"
      class="mat-raised-button mat-primary"
      (click)="save()"
    >
      Salvar
    </button>
  </mat-dialog-actions>
</form>
