@import "media";
@import "variables";
@import "mixins";
@import "functions";

.rating {
  .rating-title {
    font-size: rem(21);
  }
  margin-top: rem(20);
  @include flex-center;
  flex-direction: column;

  .rating-indicator {
    font-size: rem(25);
    margin-top: rem(20);

    i {
      cursor: pointer;
    }
  }
}
