<mat-card>
  <mat-card-header>
    <mat-card-title>Bem vindo Novamente</mat-card-title>
    <mat-card-subtitle
      >Para se manter conectado, faça o login com suas informações
      pessoais</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <login-form></login-form>
  </mat-card-content>
  <mat-card-actions>
    <button
      (click)="login()"
      [disabled]="loginComponent.form.invalid"
      mat-raised-button
    >
      Login
    </button>
    <a [routerLink]="['/authentication', 'register']"
      ><span>Não possui uma conta ainda?</span>
      <span>crie a sua aqui!</span>
    </a>
  </mat-card-actions>
</mat-card>
