@import "../../../sass/variables";
@import "../../../sass/mixins";
@import "../../../sass/functions";
@import "../../../sass/media";

:host {
  height: 29px;
  width: 65px;
}

$size: rem(20);

.toggle {
  position: relative;

  width: 65px;
  height: 29px;

  margin-right: 20px;

  &__input {
    opacity: 0;
    height: 0;
    width: 0;
  }

  &__input:checked + &__switch::before {
    background-image: url(../../../assets/img/icons/dark-mode.svg);
    transform: translateX(-21px);
  }

  &__switch {
    position: absolute;

    cursor: pointer;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    height: rem(23);
    width: rem(48);

    border-radius: 34px;
    border: white solid 0.5px;

    &::before {
      content: "";
      position: absolute;

      background-image: url("../../../assets/img/icons/light-mode.svg");
      background-size: $size $size;

      height: $size;
      width: $size;

      right: 4px;
      bottom: 0;

      transition: background-image 0.4s, transform 0.4s;
    }
  }
}
