@import "../../../sass/variables";
@import "../../../sass/mixins";
@import "../../../sass/functions";

:host {
  margin-top: rem(40);
  background-color: $color-panel-bg;
  @include size(700, 350);
  padding: rem(50);
  border-radius: $global-radius;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: $color-text;

  .title {
    font-size: rem(40);
  }
  .description {
    text-align: center;
    margin-top: rem(20);
    font-size: rem(21);
  }

  .info-rating {
    margin-top: rem(10);
  }
}
