@import "../../../../../sass/functions";
@import "../../../../../sass/variables";
@import "../../../../../sass/mixins";
@import "../../../../../sass/media";

mat-card {
  padding: rem(30);
  @include max-size(500);
  margin: 0 auto;
  background-color: $color-panel-bg;

  ::ng-deep .mat-card-header-text {
    margin: 0px;
  }
}

form {
  display: flex;
  flex-direction: column;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

button {
  width: rem(200);
}

a {
  @include flex-center(column);
  color: $color-link;
  font-size: rem(12);

  span {
    display: block;
  }
}
