<form [formGroup]="form" novalidate>
  <h2 mat-dialog-title>Categoria</h2>

  <mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="Nome" formControlName="description" />
      <mat-error>
        <span cmsShowValidation="description"></span>
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button (click)="close()">Fechar</button>
    <button
      [disabled]="form.invalid"
      [class.disabled]="form.invalid"
      mat-raised-button
      color="primary"
      (click)="save()"
    >
      Salvar
    </button>
  </mat-dialog-actions>
</form>
