@import "media";
@import "variables";
@import "mixins";
@import "functions";

mat-card {
  padding: rem(30);
  margin: 0 auto;
  @include max-size(500);

  ::ng-deep .mat-card-header-text {
    margin: 0;
  }
  background-color: $color-panel-bg;
}

mat-card-title {
  color: $color-title-text;
}
mat-card-subtitle {
  color: $color-text;
}

form {
  display: flex;
  flex-direction: column;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

button {
  @include base-button-style(200);

  @include tiny-mobile {
    width: rem(95);
  }

  @include medias($mobile) {
    width: rem(130);
  }
}

a {
  @include flex-center(column);
  color: $color-link;
  font-size: rem(12);

  @include tiny-mobile {
    font-size: rem(11);
  }

  &:hover {
    color: $color-link-hover;
  }

  span {
    display: block;
  }
}
