<mat-card>
  <mat-card-header>
    <mat-card-title>Bem vindo Novamente</mat-card-title>
    <mat-card-subtitle
      >Para se manter conectado, faça o login com suas informações
      pessoais</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field>
        <input
          type="email"
          matInput
          placeholder="Email"
          formControlName="email"
        />
        <mat-error>
          <span cmsShowValidation="email"></span>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          type="password"
          matInput
          placeholder="Senha"
          formControlName="password"
          (keyup.enter)="login(form.value)"
        />
        <mat-error>
          <span cmsShowValidation="password"></span>
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      (click)="login(form.value)"
      [disabled]="form.invalid"
      mat-raised-button
    >
      Login
    </button>
    <a [routerLink]="['/authentication', 'register']"
      ><span>Não possui uma conta ainda?</span>
      <span>crie a sua aqui!</span>
    </a>
  </mat-card-actions>
</mat-card>
