<mat-card>
  <mat-card-header>
    <mat-card-title>Cadastro</mat-card-title>
    <mat-card-subtitle>faça o seu cadastro com a gente</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <register-form></register-form>
  </mat-card-content>
  <mat-card-actions>
    <button
      (click)="register(registerForm.form.value)"
      [disabled]="registerForm.form.invalid"
      mat-raised-button
      color="primary"
    >
      Cadastrar
    </button>
    <a [routerLink]="['/authentication', 'login']"
      ><span>Já possui uma conta?</span>
      <span>faça seu login sua aqui!</span>
    </a>
  </mat-card-actions>
</mat-card>
