<div class="comic">
  <div class="comic__container-info">
    <img class="comic__image" [src]="comic?.image?.preview" alt="Image" />
    <div>
      <header>
        <h1 class="comic__title">{{ comic?.title }}</h1>
        <span class="comic__author"></span>
        <span class="comic__genre"></span>
      </header>
      <mat-tab-group>
        <mat-tab label="Descrição">
          <p class="comic__description">
            {{ comic?.description }}
          </p>
        </mat-tab>
        <mat-tab label="Detalhes do Produto">
          <section class="comic-details">
            <ul class="comic-details__info">
              <li class="comic-details__item">
                <strong class="comic-details__item__label">Nº páginas:</strong>
                <span class="comic-details__item__value"
                  >{{ comic?.pages }} páginas</span
                >
              </li>
            </ul>
            <ul class="comic-details__info">
              <li class="comic-details__item">
                <strong class="comic-details__item__label"
                  >Ano de publicação:</strong
                >
                <span class="comic-details__item__value">{{
                  comic?.year
                }}</span>
              </li>
            </ul>
            <ul class="comic-details__info">
              <li class="comic-details__item">
                <strong class="comic-details__item__label">Autores:</strong>
                <span class="comic-details__item__value">{{
                  comic?.authors
                }}</span>
              </li>
            </ul>
            <ul class="comic-details__info">
              <li class="comic-details__item">
                <strong class="comic-details__item__label">Categorias:</strong>
                <span class="comic-details__item__value">{{
                  comic?.genres
                }}</span>
              </li>
            </ul>
          </section>
        </mat-tab>
      </mat-tab-group>
    </div>

    <form [formGroup]="comicForm" class="comic__form">
      <span class="comic__price">R$ {{ comic?.price | number: "2.2" }}</span>
      <span class="comic__inventory">
        Disponibilidade:
        <span
          class="comic__inventory{{
            isInventoryAvailable ? '--available' : '--unavailable'
          }}"
        >
          {{
            isInventoryAvailable
              ? comic?.inventoryQuantity + " unidade(s)"
              : "não disponível"
          }}
          em estoque</span
        ></span
      >

      <mat-form-field *ngIf="comic?.inventoryQuantity">
        <mat-label>Quantidade</mat-label>
        <input
          formControlName="quantity"
          min="1"
          value="1"
          type="number"
          matInput
        />
      </mat-form-field>
      <div class="comic__btn-container">
        <button
          mat-raised-button
          (click)="
            addMultipleItemsToCart(comic, +comicForm.controls.quantity.value)
          "
          [disabled]="comicForm.invalid || comic?.inventoryQuantity === 0"
          class="comic__btn"
        >
          <i class="fas fa-shopping-cart"></i>
          Adicionar
        </button>
        <a [class.disabled]="!hasCartItems ? true : false">
          <button
            mat-raised-button
            (click)="navigateToOrder()"
            [disabled]="!hasCartItems"
            class="comic__btn"
          >
            <i class="fas fa-credit-card"></i>
            Finalizar pedido
          </button>
        </a>
      </div>
    </form>
  </div>
</div>
