@import "media";
@import "variables";
@import "mixins";
@import "functions";

button {
  display: none;
}

.desktop {
  @include medias($small-tablet, $tablet, $large-tablet, $desktop) {
    display: initial;
  }
}

.mobile {
  display: none;

  @include medias($tiny-mobile, $mobile) {
    display: initial;
    .small {
      @include flex-center;
      @include size(35);
    }
  }
}
