@import "media";
@import "variables";
@import "mixins";
@import "functions";

mat-card {
  padding: rem(30);
  margin: 0 auto;
  background-color: $color-panel-bg;
  @include max-size(500);

  ::ng-deep .mat-card-header-text {
    margin: 0;
  }
}

mat-card-title,
mat-card-subtitle {
  color: $color-text;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

button {
  width: rem(200);

  @include medias($tiny-mobile, $mobile) {
    width: rem(130);
  }
}

a {
  @include flex-center(column);
  color: $color-link;
  font-size: rem(12);

  &:hover {
    color: $color-link-hover;
  }

  span {
    display: block;
  }
}
