.title-group {
  @include flex-center;
  height: rem(36);
  color: $color-title-text;
  width: 100%;
  margin-bottom: rem(10);

  justify-content: space-between;

  h1 {
    font-size: rem(14);
    margin: 0;
  }

  ::ng-deep.mat-button-wrapper {
    @include flex-center;
  }

  button {
    @include flex-center;

    i {
      margin-right: rem(5);
    }
  }

  .title {
    i {
      margin-right: rem(10);
      color: $color-title-text;
    }

    @include flex-center;
    font-size: rem(20);
  }
}

.title-group.subtitle {
  margin-top: rem(20);
}

mat-form-field,
cms-dropdown-list {
  margin-right: rem(20);

  @include medias($tiny-mobile, $mobile, $tablet, $large-tablet) {
    width: 100%;
  }
}

.genre-form {
  display: flex;
  align-items: center;

  @include medias($tiny-mobile, $mobile, $tablet, $large-tablet) {
    flex-direction: column;
    align-items: flex-start;
  }
}
