.mat-dialog-title,
.mat-h1,
.mat-headline,
.mat-typography h1,
.mat-list-item-content,
.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description,
.mat-expansion-indicator::after,
.mat-select-arrow,
.mat-tab-label .mat-tab-label-content {
  color: $color-title-text !important;
}

.mat-h1,
.mat-headline,
.mat-typography h1 {
  font: 400 rem(24) / rem(32) Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  margin: 0 0 rem(10);
}

.mat-h2,
.mat-title,
.mat-typography h2 {
  font: 500 rem(20) / rem(32) Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  margin: 0 0 rem(10);
}

.mat-menu-panel {
  background-color: var(--color-panel-bg) !important;
}

.mat-menu-item span {
  color: $color-text;
}

.mat-dialog-container {
  background-color: $color-panel-bg;
}

table {
  td.mat-cell {
    white-space: nowrap;
    max-width: rem(200);

    overflow: hidden;
    text-overflow: ellipsis;
    display: table-cell;
    box-sizing: border-box;
  }

  th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    padding: 0 rem(10);
  }

  th.mat-header-cell {
    color: $color-title-text;
  }

  td.mat-cell,
  td.mat-footer-cell {
    color: $color-text;
  }

  th.mat-header-cell:last-of-type,
  td.mat-cell:last-of-type,
  td.mat-footer-cell:last-of-type {
    text-align: end;
  }
}

mat-paginator {
  div.mat-paginator-range-actions {
    color: $color-text;
    @include medias($tiny-mobile, $mobile) {
      width: 100%;
      justify-content: space-between;
    }
  }

  div.mat-paginator-range-label {
    color: $color-text;
    @include medias($tiny-mobile, $mobile) {
      margin: 0 !important;
    }
  }

  div.mat-paginator-page-size {
    color: $color-text;
  }
}

.mat-form-field-underline,
.mat-form-field-appearance-fill .mat-form-field-underline::before {
  background-color: $color-tab-panel-border-bottom !important;
}

.mat-expansion-panel-body,
.mat-expansion-panel-header {
  padding: 0 !important;
}

.mat-expansion-panel,
.mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"])
  .mat-expansion-panel-header:hover {
  background: transparent !important;
}

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none !important;
}

.mat-expansion-indicator {
  margin-right: rem(2) !important ;
}

.mat-drawer-inner-container {
  background-color: $color-panel-bg !important;
}

//mat-input color

.mat-input-element,
.mat-select-value {
  color: $color-input-text !important;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: $color-primary;
}

.mat-form-field.mat-focused .mat-form-field-ripple,
.mat-form-field.mat-focused .mat-form-field-ripple.mat-accent {
  background: $color-primary;
}

// mat-list-item hover background color
.mat-list-option:hover,
.mat-list-option:focus,
.mat-nav-list .mat-list-item:hover,
.mat-nav-list .mat-list-item:focus,
.mat-action-list .mat-list-item:hover,
.mat-action-list .mat-list-item:focus {
  background: $color-hover-bg-menu;
}

// Label error color
.mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: $color-danger;
}

// Underline error color
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple,
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
  background-color: $color-danger;
}

// Message error color
.mat-error {
  color: $color-danger;
}

.mat-form-field-appearance-legacy .mat-form-field-label,
.mat-form-field-appearance-fill .mat-form-field-label {
  color: $color-form-field-placeholder;
}

.mat-form-field-infix {
  padding-top: rem(8) !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0 !important;
}

mat-error {
  span {
    user-select: none;
  }
}

//button disabled
.mat-flat-button.mat-primary.mat-button-disabled,
.mat-flat-button.mat-accent.mat-button-disabled,
.mat-flat-button.mat-warn.mat-button-disabled,
.mat-flat-button.mat-button-disabled.mat-button-disabled,
.mat-raised-button.mat-primary.mat-button-disabled,
.mat-raised-button.mat-accent.mat-button-disabled,
.mat-raised-button.mat-warn.mat-button-disabled,
.mat-raised-button.mat-button-disabled.mat-button-disabled,
.mat-fab.mat-primary.mat-button-disabled,
.mat-fab.mat-accent.mat-button-disabled,
.mat-fab.mat-warn.mat-button-disabled,
.mat-fab.mat-button-disabled.mat-button-disabled,
.mat-mini-fab.mat-primary.mat-button-disabled,
.mat-mini-fab.mat-accent.mat-button-disabled,
.mat-mini-fab.mat-warn.mat-button-disabled,
.mat-mini-fab.mat-button-disabled.mat-button-disabled {
  background: $color-button-disabled-bg;
  color: $color-button-disabled-text;
  cursor: not-allowed;
}

.mat-badge-content {
  background: $color-badge-bg;
}

.mat-icon.mat-primary,
.mat-form-field:not(.mat-form-field-appearance-legacy)
  .mat-form-field-prefix
  .mat-icon-button
  .mat-datepicker-toggle-default-icon,
.mat-form-field:not(.mat-form-field-appearance-legacy)
  .mat-form-field-suffix
  .mat-icon-button
  .mat-datepicker-toggle-default-icon {
  color: $color-primary;
}

.mat-icon.mat-warn {
  color: $color-danger;
}

.mat-menu-item:hover:not([disabled]),
.mat-menu-item.cdk-program-focused:not([disabled]),
.mat-menu-item.cdk-keyboard-focused:not([disabled]),
.mat-menu-item-highlighted:not([disabled]) {
  background: $color-hover-bg-menu;
}

//Button primary color

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: $color-primary;

  &:hover:not(:disabled) {
    opacity: 0.9;
  }
}

.mat-flat-button.mat-warn,
.mat-raised-button.mat-warn,
.mat-fab.mat-warn,
.mat-mini-fab.mat-warn {
  background-color: $color-danger;

  &:hover:not(:disabled) {
    opacity: 0.9;
  }
}

// mat-icon

.mat-form-field:not(.mat-form-field-appearance-legacy)
  .mat-form-field-prefix
  .mat-icon,
.mat-form-field:not(.mat-form-field-appearance-legacy)
  .mat-form-field-suffix
  .mat-icon {
  color: $color-primary;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #888888;
}

// mat-form-field outline invalid
.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
  .mat-form-field-outline-thick {
  color: $color-danger;
}

// mat-form-field outline label

.mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
  color: $color-primary;
}

.mat-form-field-appearance-outline .mat-form-field-label {
  color: #888888;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: $color-primary;
}

//mat-radio color and border

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent
  .mat-radio-ripple
  .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: $color-primary;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $color-primary;
}

mat-expansion-panel {
  .mat-expansion-panel-content {
    height: 0;
    visibility: hidden;
  }
  &.mat-expanded {
    .mat-expansion-panel-content {
      height: auto;
      visibility: visible;
    }
  }
}

mat-expansion-panel-header {
  span.mat-content:nth-child(1) {
    flex: 0 1 auto;
  }

  span.mat-expansion-indicator {
    @include flex-center;
  }
}

.mat-tab-body.mat-tab-body-active,
.mat-tab-body-content {
  overflow-y: hidden !important;
}
