@mixin flex-center($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-important($direction: row) {
  display: flex !important;
  flex-direction: $direction !important;
  justify-content: center !important;
  align-items: center !important;
}

@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

@mixin size($width, $height: $width) {
  width: rem($width) !important;
  height: rem($height);
}

@mixin max-size($width, $height: $width) {
  max-width: rem($width) !important;
  max-height: rem($height);
}

@mixin base-button-style($width: 180, $height: 40) {
  width: rem($width);
  height: rem($height);
  padding: rem(15);
  border-radius: rem(5);
  user-select: none;
  cursor: pointer;
  color: $color-panel-button-text;
  background-color: $color-panel-button-bg;
  transition: background-color 0.2s;

  @include flex-center;

  i {
    margin-right: rem(5);
  }

  & {
    outline: none;
  }

  &:hover:not(:disabled) {
    opacity: 0.9;
  }

  transition: box-shadow 0.2s ease-in-out;
}

@mixin base-border-bottom() {
  border-bottom: rem(0.1) solid $color-tab-panel-border-top;
}

@mixin form-title() {
  font-size: rem(18);
  margin-bottom: rem(15);
  font-weight: 300;
  line-height: 1.4;
  color: $color-text;
}

@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background: darken($bg, 8%);
    transition: all 0.3s ease;
  }
  &:active {
    background: darken($bg, 25%);
  }
}

@mixin base-bold {
  font-weight: 500;
  color: $color-text;
}
