@import "../sass/variables";
@import "../sass/media";

/* ========================================================================== */
/* MOBILE */
/* ========================================================================== */
@media screen and (max-width: $mobile) {
  .tablet-only,
  .desktop-only,
  .not-mobile {
    display: none !important;
  }

  .mobile-only,
  .not-tablet,
  .not-desktop {
    display: flex !important;
  }
}

/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */

/* ========================================================================== */
/* TABLET */
/* ========================================================================== */
@media screen and (min-width: $mobile + 1) and (max-width: $tablet) {
  .desktop-only,
  .mobile-only,
  .not-tablet {
    display: none !important;
  }

  .tablet-only,
  .not-desktop,
  .not-mobile {
    display: flex !important;
  }
}
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */

/* ========================================================================== */
/* DESKTOP */
/* ========================================================================== */

@media screen and (min-width: $tablet + 1) {
  .tablet-only,
  .mobile-only,
  .not-desktop {
    display: none !important;
  }

  .desktop-only,
  .not-tablet,
  .not-mobile {
    display: flex !important;
  }
}
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
