@import "functions";

// ==========================================================================
// Font
// ==========================================================================

$font-primary: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-secondary: Arial, Helvetica, sans-serif;

// ==========================================================================
// Colors
// ==========================================================================

$color-primary: #{"var(--color-primary)"};
$color-background: #{"var(--color-background)"};
$color-text: #{"var(--color-text)"};
$color-title-text: #{"var(--color-title-text)"};

$color-link: #{"var(--color-link)"};
$color-link-hover: #{"var(--color-link-hover)"};

$color-hover-bg-menu: #{"var(--color-hover-bg-menu)"};

$color-header-bg: #{"var(--color-header-bg)"};

$color-panel-bg: #{"var(--color-panel-bg)"};
$color-panel-text: #{"var(--color-panel-text)"};
$color-panel-button-bg: #{"var(--color-panel-button-bg)"};
$color-panel-button-text: #{"var(--color-panel-button-text)"};

$color-tab-panel-border-bottom: #{"var(--color-tab-panel-border-bottom)"};
$color-tab-panel-border-top: #{"var(--color-tab-panel-border-top)"};

$color-form-field-placeholder: #{"var(--color-form-field-placeholder)"};
$color-form-field-placeholder-active: #{"var(--color-form-field-placeholder-active)"};
$color-input-text: #{"var(--color-input-text)"};

$color-button-disabled-text: #{"var(--color-button-disabled-text)"};
$color-button-disabled-bg: #{"var(--color-button-disabled-bg)"};

$color-header-item-hover-text: #{"var(--color-header-item-hover-text)"};
$color-badge-bg: #{"var(--color-badge-bg)"};

$color-footer-text: #{"var(--color-footer-text)"};
$color-footer-bg: #{"var(--color-footer-bg)"};

$color-danger: #{"var(--color-danger)"};
$color-success: #{"var(--color-success)"};
$color-icon: #{"var(--color-icon)"};

$project-colors: (
  "primary": #1986a7,
  "header-bg": "var(--color-primary)",
  "form-field-placeholder": #00000061,
  "form-field-placeholder-active": #3f51b5,
  "background": #f3f2f7,
  "title-text": #444,
  "text": #444,
  "input-text": black,
  "link": #6ba8c7,
  "link-hover": #4f89a7,
  "panel-bg": white,
  "panel-text": #444,
  "panel-button-bg": #1986a7,
  "panel-button-text": white,
  "tab-panel-border-bottom": rgba(0, 0, 0, 0.12),
  "tab-panel-border-top": #f5f3f3,
  "footer-bg": white,
  "hover-bg-menu": rgba(0, 0, 0, 0.04),
  "danger": #dd4b39,
  "success": #008d4c,
  "icon": "var(--color-primary)",
  "button-disabled-text": rgba(0, 0, 0, 0.26),
  "button-disabled-bg": rgba(0, 0, 0, 0.12),
  "header-item-hover-text": #00f7ff,
  "badge-bg": lighten(#1986a7, 10%)
);

$project-colors-theme-dark: (
  "primary": #0d9798,
  "header-bg": #262525,
  "form-field-placeholder": #d7d7d7,
  "form-field-placeholder-active": #6ba8c7,
  "background": #121212,
  "text": #d3cdcd,
  "input-text": white,
  "title-text": white,
  "link": #6ba8c7,
  "link-hover": #a0d4ee,
  "panel-bg": #1d1d1d,
  "panel-text": white,
  "panel-button-bg": #0d9798,
  "panel-button-text": white,
  "tab-panel-border-bottom": #c3c3c3,
  "tab-panel-border-top": hsl(228deg 27% 24%),
  "footer-bg": "var(--color-primary)",
  "hover-bg-menu": #353535,
  "danger": #cf6679,
  "success": #82ec82,
  "icon": "var(--color-primary)",
  "button-disabled-bg": #2e2d2d,
  "button-disabled-text": rgba(255, 255, 255, 42%),
  "header-item-hover-text": #49f5f6,
  "badge-bg": #0d9798
);

// ==========================================================================
// Measures
// ==========================================================================

$global-max-width: rem(1440);

$global-font-size: rem(18);
$global-line-height: 1.5;
$global-radius: rem(10);
$global-module-size: rem(30);
$header-size: rem(60);

// ==========================================================================
// Others
// ==========================================================================

$z-indexes: (
  "above": 500,
  "modal": 400,
  "overlay": 300,
  "dropdown": 200,
  "default": 1,
  "below": -1
);
