@import "media";
@import "variables";
@import "mixins";
@import "functions";

:host {
  display: flex;
  align-items: flex-start;
}

.order {
  margin: 0 auto;
  width: rem(1060);
  padding: rem(30 30 20 30);

  display: flex;
  flex-direction: column;

  background-color: $color-panel-bg;
  border-radius: $global-radius;

  @include medias($tiny-mobile, $mobile) {
    width: 100%;
  }

  &__title {
    color: $color-text;
    font-size: rem(22);
    font-weight: 500;
    line-height: 1.1;
    padding-bottom: rem(10);
    margin-bottom: rem(20);
    @include base-border-bottom;
  }

  &__form {
    font-size: rem(12.5);

    mat-form-field {
      margin-right: rem(15);

      i {
        position: absolute;
        right: 0px;
        top: 45px;
        bottom: 0;
        left: -6px;
        font-size: rem(10);
        color: $color-success;
      }
    }

    .form-legend {
      @include form-title;
    }

    .client-information {
      &__controls {
        display: flex;
      }
    }

    .delivery-address {
      @include medias($tiny-mobile, $mobile) {
        @include flex-column;
      }

      mat-form-field {
        margin-right: rem(15);
      }

      mat-icon {
        cursor: pointer;
      }
    }

    &__input {
      box-shadow: none;
      height: 34px;
      padding: 6px 12px;

      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      outline: none;

      &:focus {
        border-color: #3c8dbc;
        box-shadow: none;
      }
    }

    .order__items {
      &__title {
        @include form-title;
      }

      &__table {
        &__header,
        &__body {
          display: grid;
          grid-template-columns: rem(100) 1fr 2fr rem(100) rem(15);

          @include medias($tiny-mobile, $mobile) {
            grid-template-columns: rem(100) 1fr rem(15);
          }
        }

        &__header {
          padding: rem(20);

          &__item {
            @include base-bold;
          }
        }

        &__body {
          cms-order-item:nth-child(odd) {
            background-color: $color-tab-panel-border-top;
          }
        }
      }

      .empty-message {
        color: $color-text;

        &__link {
          color: $color-link;
        }
      }
    }

    &__payment-and-total {
      display: flex;
      margin-top: rem(20);
      justify-content: space-between;

      @include medias($tiny-mobile, $mobile) {
        flex-direction: column;
      }

      &__payment-method {
        width: 50%;

        @include medias($tiny-mobile, $mobile) {
          width: 100%;
        }

        legend {
          @include form-title;
        }

        mat-radio-group {
          display: flex;
          flex-direction: column;

          mat-radio-button {
            color: $color-text;
          }

          mat-radio-button + mat-radio-button {
            margin-top: rem(3);
          }
        }
      }
    }

    .order-button {
      i {
        margin-right: rem(10);
      }

      @include base-button-style;
      background-color: $color-success;
      font-size: rem(15);
      width: initial;
      margin: 10px 0 0 auto;

      @include button-disabled;
    }
  }
}

.total-order {
  width: rem(500);

  @include medias($tiny-mobile, $mobile) {
    margin-top: rem(20);
    width: 100%;
  }

  &__title {
    @include form-title;
  }

  .items-container {
    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: rem(500);
      font-size: rem(12);
      color: $color-text;
      padding: rem(10 0);
      border-top: solid 1px $color-tab-panel-border-top;

      @include medias($tiny-mobile, $mobile) {
        width: 100%;
      }

      &__text {
        @include base-bold;
      }
    }
  }
}

.mat-form-field-appearance-outline,
.mat-form-field-wrapper {
  @include medias($desktop, $large-tablet) {
    width: rem(200);
  }
}
