<form [formGroup]="form" novalidate>
  <h2 mat-dialog-title>Autor</h2>

  <mat-dialog-content>
    <mat-form-field>
      <input
        matInput
        autofocus
        onFocus="this.select()"
        placeholder="Nome"
        formControlName="name"
        (keyup.enter)="save()"
      />
      <mat-error>
        <span cmsShowValidation="name"></span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Escolha uma data</mat-label>
      <input
        matInput
        placeholder="Data de Nascimento"
        formControlName="birthDate"
        [max]="maxDate"
        [matDatepicker]="picker"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error>
        <span cmsShowValidation="birthDate"></span>
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button (click)="close()">Fechar</button>
    <button
      [disabled]="form.invalid"
      [class.disabled]="form.invalid"
      mat-raised-button
      color="primary"
      (click)="save()"
    >
      Salvar
    </button>
  </mat-dialog-actions>
</form>
