@import "media";
@import "variables";
@import "mixins";
@import "functions";

mat-dialog-actions {
  @include flex-center;
  justify-content: flex-end;
  margin-top: rem(10);

  button:first-of-type {
    margin-right: rem(10);
  }
}

.mat-dialog-content {
  display: flex;
  flex-direction: column;
}

.mat-form-field + .mat-form-field {
  margin-top: rem(15);
}
