@import "./sass/variables";
@import "./sass/responsive-helpers";
@import "./sass/mixins";
// @import "./theme.scss";

:root {
  --lh: 1.4rem;
  line-height: var(--lh);
  @each $name, $color in $project-colors {
    --color-#{$name}: #{$color};
  }
}

:root.dark-mode {
  @each $name, $color in $project-colors-theme-dark {
    --color-#{$name}: #{$color};
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.icon {
  margin-right: rem(10);
}

.mat-h1,
.mat-headline,
.mat-typography h1 {
  font: 400 24px/32px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  margin: 0 0 10px;
}

.mat-h2,
.mat-title,
.mat-typography h2 {
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  margin: 0 0 10px;
}

body,
html {
  height: 100%;
  background: #222;
}

html,
body {
  height: 100%;
  background-color: var(--background-color);
}

ul {
  li {
    list-style-type: none;
  }
}

a {
  text-decoration: none;
  outline: none;
}

b,
strong {
  font-weight: 700;
}
body {
  margin: 0;
  font-family: $font-primary;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.disabled {
  pointer-events: none;
  cursor: default;
  @include button-disabled;
}
table {
  td.mat-cell {
    white-space: nowrap;
    max-width: rem(200);

    overflow: hidden;
    text-overflow: ellipsis;
    display: table-cell;
    box-sizing: border-box;
  }

  th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    padding: 0 10px;
  }
}
