@import "../sass/variables";
@import "../sass/mixins";
@import "../sass/functions";

:host {
  display: flex;
  flex-direction: column;
  // overflow: hidden;
  height: 100vh;

  mt-footer {
    height: 50px;
  }

  main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex: 1;
    position: relative;
    background-color: $color-background;
    overflow: auto;

    &::ng-deep router-outlet.main ~ * {
      position: absolute;
      width: 100%;
      max-width: $global-max-width;

      // @include flex-center;
    }
  }
}
