<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item routerLink="/quadrinhos">Quadrinhos</a>
      <a *ngIf="isAdmin" mat-list-item routerLink="/admin">Admin</a>
      <a mat-list-item routerLink="/sobre">Sobre</a>
      <a mat-list-item *ngIf="!isLoggedIn" routerLink="/authentication">
        Login
      </a>
      <a
        mat-list-item
        *ngIf="isLoggedIn"
        (click)="logout()"
        routerLink="/authentication"
      >
        Sair
      </a>
      <a (click)="sidenav.toggle()" mat-list-item>Fechar</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav #adminSide [position]="'end'">
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" [routerLink]="['admin/comic']">
        <i class="fas fa-book icon"></i>
        <span>Quadrinhos</span>
      </a>
      <a
        mat-list-item
        routerLinkActive="active"
        [routerLink]="['admin/author']"
      >
        <i class="fas fa-user-edit icon"></i>
        <span>Autores</span>
      </a>
      <a mat-list-item routerLinkActive="active" [routerLink]="['admin/genre']">
        <i class="fad fa-tasks icon"></i>
        <span>Categorias</span>
      </a>
      <a
        mat-list-item
        routerLinkActive="active"
        [routerLink]="['admin/inventory']"
      >
        <i class="fas fa-inventory icon"></i>
        <span>Estoque</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <cms-header
      (openAdminSide)="adminSide.toggle()"
      (openSide)="sidenav.toggle()"
    ></cms-header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
