@import "media";
@import "variables";
@import "mixins";
@import "functions";

.ng-animating {
  grid-column: 1 !important;
  grid-row: 1 !important;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;

  mt-footer {
    height: rem(50);
  }

  mat-sidenav {
    padding: rem(10);
    background-color: $color-panel-bg;
  }

  mat-sidenav-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: var(--color-background);
  }

  ::ng-deep main {
    display: grid;
    width: 100vw;
    max-width: $global-max-width;
  }

  // afeta todos os itens dentro da outlet
  ::ng-deep router-outlet ~ * {
    grid-row: 1;
    grid-column: 1;
    margin-top: $header-size;
    max-width: $global-max-width;
    padding: rem(20 40);

    @include medias($tiny-mobile, $mobile, $small-tablet, $tablet) {
      padding: rem(10);
    }
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
