<!-- <main [@fadeAnimation]="getRouterOutletState(o)">
  <router-outlet class="main" #o="outlet"></router-outlet>
</main> -->

<!-- <main>
  <router-outlet class="main"></router-outlet>
</main> -->

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item routerLink="/quadrinhos">Quadrinhos</a>
      <a *ngIf="isAdmin" mat-list-item routerLink="/admin">Admin</a>
      <a mat-list-item routerLink="/sobre">Sobre</a>
      <a mat-list-item *ngIf="!isLoggedIn" routerLink="/authentication">
        Login
      </a>
      <a
        mat-list-item
        *ngIf="isLoggedIn"
        (click)="logout()"
        routerLink="/authentication"
      >
        Sair
      </a>
      <a (click)="sidenav.toggle()" mat-list-item>Fechar</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <cms-header (openSide)="sidenav.toggle()"></cms-header>
    <!-- <div style="margin-bottom: 60px"></div> -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
