@import "../../../sass/functions";
@import "../../../sass/variables";
@import "../../../sass/mixins";
@import "../../../sass/media";

.comic {
  display: grid;
  grid-gap: rem(10);
  color: $color-text;

  @include medias($tiny-mobile, $mobile, $small-tablet) {
    grid-template-columns: 1fr;
  }

  @include medias($tablet, $large-tablet) {
    grid-template-columns: 1fr;
  }

  &__container-info {
    display: grid;
    padding: rem(20);
    grid-template-columns: auto 1fr rem(370);
    grid-row: auto auto;
    column-gap: rem(10);
    background-color: $color-panel-bg;
    border-radius: $global-radius;

    @include medias($tiny-mobile, $mobile, $small-tablet) {
      grid-template-columns: 1fr;
      grid-row: 1;
    }
  }

  &__image {
    max-width: rem(240);
    @include medias($tiny-mobile, $mobile, $small-tablet) {
      max-width: rem(200);
      margin-top: rem(5);
      grid-row: 2;
    }
  }

  // &__info {
  //   background-color: $color-panel-bg;
  //   display: flex;
  //   flex-direction: column;
  // }

  &__genre,
  &__title {
    @include base-bold;
  }

  &__description {
    margin-top: rem(10);
    color: $color-panel-text;
    flex: 1;
  }

  mat-tab-group {
    grid-column: 2;
    min-height: rem(160) !important;
  }

  &__form {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: rem(0 20);
    // height: rem(240);

    background-color: $color-panel-bg;
    border-radius: $global-radius;
    @include medias($tiny-mobile, $mobile, $small-tablet) {
      grid-column: auto;
      grid-row: auto;
      height: auto;
      padding: none;
      margin-top: rem(20);
    }
  }

  &__price {
    font-size: rem(30);
  }

  &__inventory {
    margin-top: rem(20);

    &--available {
      color: green;
    }

    &--unavailable {
      color: $color-danger;
    }
  }

  mat-form-field {
    margin-top: rem(15);
  }

  &__btn-container {
    margin-top: rem(15);
    display: flex;

    width: 100%;
    justify-content: space-between;
  }

  &__btn {
    @include base-button-style;
    width: rem(150);

    @include medias($tiny-mobile, $mobile, $small-tablet) {
      width: rem(130);
    }

    &:disabled {
      border: 1px solid #999999;
      background-color: #cccccc;
      color: #666666;
      cursor: not-allowed;
    }
  }
}

.comic-details {
  margin-top: rem(10);
  color: $color-text;

  &__item {
    &__label {
      margin-right: rem(5);
      @include base-bold;
    }
  }
}
